.Page-Title {
  margin-bottom: 1em;

  h1 {
    text-transform: capitalize;

    @media (min-width: $mdBreak) {
      font-size: 1.5rem;
    }
  
    @media (min-width: $lgBreak) {
      font-size: 1.75rem;
    }
  }
}