.Login-Sign-Up-Page {
  background-color: $primaryColour;
  background-image: linear-gradient(225deg, $primaryColour, #5962be);
  height: 100vh;
  position: relative;
  width: 100%;

  .login-sign-up-form-wrapper {
    background-color: white;
    height: 100vh;
    max-width: 300px;
    overflow: auto;
    padding: 1em 1.25em;
    position: absolute;
    right: 0;
    top: 0%;
    width: 80%;

    .login-sign-up-button {
      display: block;
      margin: auto;
      margin-top: 0.75em;

      &:hover {
        text-decoration: underline;
      }

      &.back-to-login-button {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-bottom: 0.75em;

        img {
          height: 20px;
          margin-right: 10px;
          width: 20px;
        }
      }
    }
  }
}