.Card {
  box-shadow: $boxShadow;
  margin-bottom: $marginBreak;

  .card-header, .card-body {
    padding: 0.75em;
  }

  .card-header {
    background-color: $primaryColour;
    color: white;
    text-transform: capitalize;
  }

  .card-body {
    background-color: white;

    div {
      margin: 0.33em 0;
    }
  }
}