$primaryColour: #0077b5;
$bgWhite: #e8e8e8;
$red: #e74c3c;
$yellow: #e0b70f;
$green: #2ecc71;
$orange: #E67E22;

$primaryFontFamily: 'Open Sans', sans-serif;

$mdBreak: 768px;
$lgBreak: 1200px;

// headerHeight in _abstracts rather than _Header due to this value being used in _base
$headerHeight: 50px;

$marginBreak: 1.5em;
$boxShadow: 5px 5px rgba(0, 0, 0, 0.1);