* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bgWhite;
  font-family: $primaryFontFamily;
  width: 100%;

  &.mobile-nav-scroll-lock {
    overflow-y: hidden;
		position: fixed;
  }

  #root {
    margin: auto;
    max-width: 1920px;
  }
}

main {
  margin: 15px;
  margin-top: $headerHeight + 15px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: $primaryFontFamily;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.bold {
  font-weight: bold;
}