.Dark-Overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;  

  // z-index if the overlay is triggered by opening the mobile nav menu
  &.mobile-nav-menu {
    z-index: 1;
  }

  // z-index if the overlay is triggered by opening the modal
  // z-index must be larger than the header z-index
  &.modal {
    z-index: 4;
  }
}